<h1>Welcome to my developer portfolio!</h1>

<p>My name is John Doe and I have expertise in...
</p>

<hr>
<p>Read more about me: <%= link_to 'About', '/about' %></p>


<p>View my work: <%= link_to 'My Work', '/work' %></p>


<p>Contact me: <%= link_to 'Contact', '/contact' %></p>
