<h1>My Work:</h1>

<div class="flex_container">
    <%= image_tag "cat.jpg", class: "img_border hover_effect"%>
    <%= image_tag "person.jpg", class: "img_border hover_effect"%>
    <%= image_tag "fish.jpg", class: "img_border hover_effect"%>
</div>